main {
  padding: 3rem 0.875rem;
  display: flex;
  flex-direction: column;
}

main > section {
  margin-bottom: 1.875rem;
}

.input__value,
.total__weight h2,
.weight__balance__value {
  font-family: 'Share Tech Mono', monospace;
}

.car__image img {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.section__title {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #efefef;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  justify-items: center;
}

.input__container {
  margin: 1.25rem 0;
}

.input__value {
  margin: 0.625rem 0;
  color: white;
  border: 1px solid #2c3ea1;
  max-width: 160px;
  font-size: 1.375rem;
  border-radius: 4px;
  padding: 0.625rem;
}

.input__value:focus {
  border-color: #4862f7;
}

.label,
.total__weight h5 {
  font-size: 0.875rem;
  font-weight: 400;
  color: #dedede;
  text-transform: capitalize;
}

.total__weight {
  text-align: center;
}

.total__weight h2 {
  font-size: 2.5rem;
  color: #fefefe;
  margin: 0.625rem 0;
}

.weight__balance__value {
  font-size: 1.5rem;
  color: #dfdfdf;
  margin: 0.625rem 0;
}

.weight__balance__percentage {
  font-size: 3rem;
  color: white;
}

.error-msg {
  font-size: 0.8125rem;
  color: red;
  line-height: 1.2rem;
}

button {
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.btn {
  padding: 0.875rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  border-radius: 4px;
}

.btn.full-width {
  width: 100%;
}

.btn.submit {
  padding: 0.875rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  background: #3e92cc;
  color: white;
}

.btn.reset {
  border-radius: 4px;
  padding: 0.875rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  background: #550317;
  color: #fad1db;
}
